# Extensions
*.html
*.zip
*.csv
*.prof

# Folders
__pycache__/
core/__pycache__/
core/bots/__pycache__/
images/mosquito_imgs/
.idea/
exchanges/__pycache__/
exchanges/poloniex/__pycache__/
strategies/__pycache__/


# Files
config.ini
mosquito.ini
images/rendered_plain_small.png
config.bumblebee.ini
config.mosquito.ini


