[submodule "exchanges/poloniex/python-poloniex"]
	path = exchanges/poloniex/python-poloniex
	url = https://github.com/s4w3d0ff/python-poloniex.git
[submodule "exchanges/bittrex/python-bittrex"]
	path = exchanges/bittrex/python-bittrex
	url = git@github.com:miti0/python-bittrex.git
